<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/statics/css/{{styles}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statics/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/icon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
        <a href="/" class="brand-logo">E-commerce</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/products">Products</a></li>
            <li><a href="/chat">Chat</a></li>
            {{#if user}}
            <li><button id="logout-button" class="waves-effect waves-light btn-small">Logout</button></li>
            {{/if}}
        </ul>
        </div>
    </nav>
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="statics/js/main.js"></script>
</body>
</html>